@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Antique Collections</h1>
        <p>Come In And Explore!</p>
        <img src="https://www.kiro7.com/resizer/nHPv7HlV0bPIDFRNOUq3dEg670c=/1200x675/cloudfront-us-east-1.images.arcpublishing.com/cmg/H3KH4Z5EKJBNHMMLYCRWZZ5PXU.jpg" class="img-fluid" alt="Responsive image">
    </div>
